<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
    <head>
        <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="canonical" href="{{ page.url | absolute_url }}" />

        <link rel="me" href="https://github.com/andreimaxim"
        <link rel="me" href="https://twitter.com/rockatanescu" />
        <link rel="me" href="https://ruby.social/@andrei" />

        <link rel="stylesheet" href="/assets/css/style.css" />
    </head>
    <body>
        <h1>{{ site.title }}</h1>
    </body>
</html>
