<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
    <head>
        <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% if page.description %}
            <meta name="description" content="{{ page.description  }}" />
        {% else %}
            <meta name="description" content="{{ site.description }}" />
        {% endif %}

        <link rel="stylesheet" href="/assets/css/style.css" />

        <link rel="canonical" href="{{ page.url | absolute_url }}" />

        <link rel="me" href="https://twitter.com/rockatanescu" />
        <link rel="me" href="https://ruby.social/@andrei" />
        <link rel="me" href="https://github.com/andreimaxim" />
        <link rel="me" href="https://www.linkedin.com/in/andreimaxim/" />
    </head>
    <body class="antialiased">
        <div class="container max-width-3xl mx-auto p-10">
            <h1 class="text-4xl font-bold">{{ site.title }}</h1>
        </div>
    </body>
</html>
