<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% if title %}{{ title }} | {% endif %}Andrei Maxim</title>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    {%- if description -%}
        <meta name="description" content="{{ description }}"/>
    {%- else -%}
        <meta name="description" content="Andrei Maxim's digital garden with writings about Ruby, Rails, HTML, CSS and JavaScript."/>
    {%- endif -%}

    <link rel="canonical" href="{{ baseUrl }}{{ page.url }}"/>
    <link rel="apple-touch-icon" sizes="300x300"  href="/assets/img/andreimaxim.jpg" />
    <link rel="icon" type="image/png" sizes="300x300" href="/assets/img/andreimaxim.jpg" />

    <meta property="og:title" content="{% if title %}{{ title }} | {% endif %}Andrei Maxim"/>
    <meta property="og:url" content="{{ baseUrl }}{{ page.url }}"/>
    <meta property="og:image" content="/assets/img/andreimaxim.jpg"/>
    <meta property="og:type" content="article"/>

    {%- if description -%}
        <meta property="og:description" content="{{ description }}"/>
    {%- else -%}
        <meta name="og:description" content="Andrei Maxim's digital garden with writings about Ruby, Rails, HTML, CSS and JavaScript."/>
    {%- endif -%}

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@rockatanescu" />
    <meta name="twitter:title" content="{% if title %}{{ title }} | {% endif %}Andrei Maxim" />
    <meta name="twitter:image" content="/assets/img/andreimaxim.jpg"/>

    {%- if description -%}
        <meta name="twitter:description" content="{{ description }}"/>
    {%- else -%}
        <meta name="twitter:description" content="Andrei Maxim's digital garden with writings about Ruby, Rails, HTML, CSS and JavaScript."/>
    {%- endif -%}

    <meta name="color-scheme" content="light dark"/>

    <link rel="me" href="https://twitter.com/rockatanescu"/>
    <link rel="me" href="https://github.com/andreimaxim"/>
    <link rel="me" href="https://www.linkedin.com/in/andreimaxim/"/>

    <link rel="stylesheet" href="/assets/css/main.css"/>
    <link rel="stylesheet" href="/assets/css/prism.css"/>
</head>
<body>
    <main class="container">
        {{ content }}
    </main>
    <script src="/assets/js/prism.js"></script>
</body>
</html>
