<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>

        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% if page.description %}
            <meta name="description" content="{{ page.description }}" />
        {% else %}
            <meta name="description" content="{{ site.description }}" />
        {% endif %}

        <link rel="canonical" href="{{ page.url | absolute_url }}" />

        <link rel="me" href="https://twitter.com/rockatanescu" />
        <link rel="me" href="https://github.com/andreimaxim" />
        <link rel="me" href="https://www.linkedin.com/in/andreimaxim/" />

        <link rel="stylesheet" href="/assets/css/main.css" type="text/css" />
    </head>
    <body>
        <div>
            {{ content }}
        </div>
    </body>
</html>
