---
layout: default
---
{%- assign posts = paginator.posts | default: site.posts -%}

{% for post in posts %}
    {%- assign date_format = site.date_format | default: "%B %d, %Y" -%}

    <article>
        <header>
            <h1>
                <a href="{{ post.url | absolute_url }}">{{ post.title }}</a>
            </h1>
            <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: date_format }}</time>
        </header>

        {{ post.excerpt }}

        <div class="more">
            <a href="{{ post.url | absolute_url }}">read more</a>
        </div>
    </article>
{% endfor %}
